In [1]:
import pandas as pd
import numpy as np
import re

## ZADANIA
1. Na podstawie serii `S` utwórz DataFrame `df`, nazwij kolumnę `date`
2. Na podstawie kolumny `date` utwórz kolumny `year` (int), `month` (string) i `day` (int)
3. Zdeduplikuj `df1`
4. Wykonaj outer join `df` i `df1` po roku

In [3]:
S = pd.Series(["Feb-01-2015", "January-15-2018", "30-July-2018", "2017-March-17", "2016-07-December"])
S

0         Feb-01-2015
1     January-15-2018
2        30-July-2018
3       2017-March-17
4    2016-07-December
dtype: object

In [4]:
df1 = pd.DataFrame({"yr" : [2015, 2015, 2016, 2017, 2018, 2018, 2019], "val" : [42, 42, 7, 3, 10, 10, 27]})
df1

   val    yr
0   42  2015
1   42  2015
2    7  2016
3    3  2017
4   10  2018
5   10  2018
6   27  2019

In [22]:
#1 

df = pd.DataFrame(S)
df.columns = ['date']
df

               date
0       Feb-01-2015
1   January-15-2018
2      30-July-2018
3     2017-March-17
4  2016-07-December

In [46]:
#2 


# X["year"] = X["date"][x for x in string.ascii_lowercase[::1][:3]]
# X["month"] = 
# X["dat"] =


month = re.compile("[a-zA-z]+")


#year = re.compile["[0-9]{4}"]
df["month"] = df["date"].apply(lambda x: re.findall(month, x[0]))
df

               date          year month
0       Feb-01-2015       01-2015   [F]
1   January-15-2018   ary-15-2018   [J]
2      30-July-2018      uly-2018    []
3     2017-March-17     -March-17    []
4  2016-07-December  -07-December    []

In [48]:
#3

df1.drop_duplicates(inplace = True)
df1

   val    yr
0   42  2015
2    7  2016
3    3  2017
4   10  2018
6   27  2019

In [51]:
#4

pd.merge(left=df, right=df1, how="inner", left_on="year", right_on="yr")

Empty DataFrame
Columns: [date, year, month, val, yr]
Index: []

In [ ]:
pd.merge(left=df3, right=df2, how="outer", left_on="Country Name", right_on="name")